mixin item(title, description)
    .item
        h2(class="item-title")= title
        p(class="item-description")= description

mixin section-title(title)
    .section-title
        h2=title


mixin to-list(args={})
    .to-item
        .to__title
            span=args.title
            span.to-icon
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.22162 8.37225C4.56832 7.94234 5.19788 7.87489 5.62779 8.22159L9.96503 11.7194L14.3784 8.21671C14.811 7.87338 15.44 7.94574 15.7833 8.37834C16.1267 8.81094 16.0543 9.43996 15.6217 9.78329L10.5817 13.7833C10.2153 14.0741 9.69636 14.072 9.33228 13.7784L4.37228 9.77841C3.94238 9.43172 3.87492 8.80215 4.22162 8.37225Z" fill="#E41522"/></svg>
        ul.to-list
            each item in args.list
                li.to-list__item
                    .to-list__icon.icon
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="5E72E4" xmlns="http://www.w3.org/2000/svg"><g opacity="0.95"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5697 7.73872L15.7871 7.84057V7.84083C16.3896 7.89146 16.8531 8.39496 16.8537 8.9996C16.8543 9.60424 16.3919 10.1087 15.7895 10.1605L14.5702 10.2624C14.4266 10.8945 14.1757 11.4973 13.8282 12.0446L14.6197 12.9801C15.01 13.4422 14.9812 14.1262 14.5535 14.5539C14.1258 14.9816 13.4417 15.0104 12.9796 14.6201L12.0434 13.8283C11.496 14.175 10.8933 14.4252 10.2614 14.5682L10.1596 15.7875C10.109 16.39 9.60546 16.8535 9.00082 16.8541C8.39618 16.8547 7.89174 16.3923 7.83988 15.7899L7.73804 14.5706C7.10593 14.4269 6.50313 14.176 5.95584 13.8286L5.02036 14.6201C4.55826 15.0104 3.87421 14.9816 3.4465 14.5539C3.01879 14.1262 2.99003 13.4422 3.38033 12.9801L4.17207 12.0441C3.82545 11.4967 3.57519 10.894 3.43217 10.2621L2.21289 10.1603C1.61038 10.1095 1.14707 9.6059 1.14659 9.00126C1.14611 8.39663 1.60863 7.89229 2.21105 7.84057L3.42982 7.73846C3.57348 7.10635 3.82444 6.50356 4.17181 5.95626L3.38033 5.02079C2.99003 4.55869 3.01879 3.87463 3.4465 3.44692C3.87421 3.01921 4.55826 2.99045 5.02036 3.38076L5.95636 4.17014C6.50377 3.82363 7.10645 3.57338 7.7383 3.43024L7.84014 2.21279C7.88986 1.60913 8.3943 1.14453 9 1.14453C9.6057 1.14453 10.1101 1.60913 10.1599 2.21279L10.2617 3.43024C10.8945 3.57361 11.4979 3.82459 12.0457 4.17223L12.9812 3.38076C13.4433 2.99045 14.1274 3.01921 14.5551 3.44692C14.9828 3.87463 15.0115 4.55869 14.6212 5.02079L13.8298 5.95679C14.1763 6.50419 14.4265 7.10687 14.5697 7.73872ZM6.12 9.00042C6.12 10.591 7.40942 11.8804 9 11.8804C9.76382 11.8804 10.4964 11.577 11.0365 11.0369C11.5766 10.4968 11.88 9.76425 11.88 9.00042C11.88 7.40984 10.5906 6.12042 9 6.12042C7.40942 6.12042 6.12 7.40984 6.12 9.00042Z" fill="#5E72E4"/></g></svg>
                    span=item.name


mixin table(args= {}, title)
    .table
        if(title)
            .table__title=title
        .table__header.table-row
            .table-cell
                |Наименование работ
            .table-cell
                |Цена, от (бел.руб)
        .table__body
            each item in args.list
                if(item.subtitle)
                    .table-row.table-row--subtitle
                        span=item.subtitle
                    .table-row
                        .table-cell=item.name
                        if(item.value)
                            .table-cell=item.value
                else
                    .table-row
                        .table-cell=item.name
                        if(item.value)
                            .table-cell=item.value

